/* #root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}
*/

/* #root{
  font-family: 'Philosopher', sans-serif;
 } */


 /* @media (max-width: 768px) {
  .hide-on-small-screens {
    display: none;
  }
} */